
@mixin standard-button(){
  // width: $button-width;
  padding: $button-padding;
  background-color: $button-color;
  font-size: $regular-font-size
}
@mixin border-radius($radius){
  border-radius: $radius
}

$brand-color: rgba(255, 0, 0, 0.356);
$primarycolor: lightyellow;
$secondarycolor: rgba(255, 0, 0, 0.644);
$ternarycolor: rgba(243, 159, 3, 0.507);
$button-color: rgba(187, 100, 100, 0.76);
$button-width: 80px;
$button-padding: 10px 10px 10px 10px;
$regular-font-size: 14px;