@import url("https://fonts.googleapis.com/css?family=Comfortaa");
#tile1 {
  background-color: rgba(255, 51, 51, 0.644);
  text-align: center;
  line-height: 3.2;
}

#tile1:before {
  content: "1";
}

#tile2 {
  background-color: rgba(255, 102, 102, 0.644);
  text-align: center;
  line-height: 3.2;
}

#tile2:before {
  content: "2";
}

#tile3 {
  background-color: rgba(255, 153, 153, 0.644);
  text-align: center;
  line-height: 3.2;
}

#tile3:before {
  content: "3";
}

#tile4 {
  background-color: rgba(255, 204, 204, 0.644);
  text-align: center;
  line-height: 3.2;
}

#tile4:before {
  content: "4";
}

#tile5 {
  background-color: rgba(255, 255, 255, 0.644);
  text-align: center;
  line-height: 3.2;
}

#tile5:before {
  content: "5";
}

.countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row wrap;
          flex: row wrap;
  margin-bottom: 10px;
}

.ozzy {
  background-color: green;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
  line-height: 2.8;
}

.ozzy::before {
  content: "ozzy";
}

.england {
  background-color: white;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
  line-height: 2.8;
}

.england::before {
  content: "england";
}

.sweden {
  background-color: yellow;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
  line-height: 2.8;
}

.sweden::before {
  content: "sweden";
}

.japan {
  background-color: red;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
  line-height: 2.8;
}

.japan::before {
  content: "japan";
}

.header {
  text-align: center;
  padding: 5px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  font-size: 12px;
}

body {
  background-color: rgba(255, 0, 0, 0.356);
  font-family: 'Comfortaa', cursive;
}

.columns {
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
  border-radius: 10px;
}

@media screen and (max-width: 320px) {
  .columns {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: inline-block;
    position: relative;
  }
  .columns .btn {
    margin: 10px;
  }
}

.btn {
  background-color: rgba(243, 159, 3, 0.507);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
}

.btn:hover {
  background-color: white;
  background-color: rgba(253, 189, 70, 0.507);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.btn:hover .btn__text {
  color: black;
}

.btn:active {
  background-color: rgba(167, 110, 2, 0.507);
}

.btn__text {
  color: white;
}

.tiles {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#tile1, #tile2, #tile3, #tile4, #tile5, .ozzy, .england, .sweden, .japan {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 250px;
  max-width: 400px;
  height: 5vh;
}

div {
  background-color: lightyellow;
}

.paragraph {
  padding: 3%;
  border-radius: 10px;
  font-size: 14px;
}

.primary-button {
  padding: 10px 10px 10px 10px;
  background-color: rgba(187, 100, 100, 0.76);
  font-size: 14px;
}

.buttons, .three {
  padding: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buttons button, .three button {
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.644);
}

.buttons button.one, .three button.one {
  font-size: 20px;
  background-color: grey;
}

.buttons button.two, .three button.two {
  font-size: 2.9rem;
}

.three {
  font-size: 200%;
  background-color: green !important;
}

.contacts {
  background-color: white;
  list-style: none;
}

.contacts li header {
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.356);
  color: white;
}

.contacts li p {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */