@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import '_variables.scss';

$small-breakpoint: 320px;
$medium-breakpoint: 500px;

@mixin screen-media($width){
  @media screen and (max-width: $width){
    @content;
  }
}
//$shadows... three dots allowo for multiple arguments
@mixin shadow($shadows...){
  box-shadow: $shadows;
}

@mixin set-font($size){
  @if $size < 12px {
    font-size: 12px;
    @debug Defaulting size to 5px;
  }
  @else{
    font-size: $size;
  }
}

@for $i from 1 through 5 {
  @debug starting looop number $i;
  
  //use #{} interpolation feature to select variable within id="tile"
  #tile#{$i} {
    @extend %tile;
    background-color: lighten($secondarycolor, $i*10);
    text-align: center;
    line-height: 3.2;
    &:before{
      content: '#{$i}'
    }
  }
}

$team-colors: (
  ozzy: green,
  england: white,
  sweden: yellow,
  japan: red
);

.countries{
  display: flex;
  flex: row wrap;
  // padding: 10px;
  margin-bottom: 10px;
}

@each $team, $color in $team-colors{
  .#{$team} {
    @extend %tile;
    background-color: $color;
    flex-grow: 2;
    text-align: center;
    line-height: 2.8;
    &::before{content: "#{$team}"}

  }
}

.header{
  text-align: center; 
  padding: 5px;
  margin: 10px 0 10px 0;
  @include border-radius(10px);
  @include set-font(5px);
}

body{
  background-color: $brand-color;
  font-family: 'Comfortaa', cursive;  
}
.columns{
  @include shadow(10px 10px 10px lighten(black, 50%));
  
  @include screen-media($small-breakpoint){
    display: none;
  }
  @include screen-media($medium-breakpoint){
    flex-direction: column;
    display: inline-block;
    position: relative;
    .btn{
      margin: 10px;
    }
  }
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
  border-radius: 10px;
}
.btn{
  background-color: $ternarycolor;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px;
  &:hover{
    background-color: white;
    background-color: lighten($ternarycolor, 15%);
    transform: scale(1.3);
    .btn__text{
      color:black;
    }
  }
  &:active{
    background-color: darken($ternarycolor, 15%);
  }
}
.btn__text{
  color: white;
} 
.tiles{
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}
//use % not to output to css, just for reference in scss
%tile{
  flex-grow: 2;
  // flex-shrink: 2;
  flex-basis: auto;
  width: 250px;
  max-width: 400px;
  height: 5vh;
}

div{
  background-color: $primarycolor;
}
.paragraph{
  padding: 3%;
  border-radius: 10px;
  font-size: $regular-font-size;
}
.primary-button{
  @include standard-button;
}
.buttons{
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  // background-color: $secondarycolor;
  
  button{
    width: 20%; 
    padding: 10px;
    // font-size: $regular-font-size;
    border-radius: 10px;
    background-color: $secondarycolor;

    &.one{
      font-size: 20px;
      background-color: grey;  
    }
    &.two{
      font-size: 2.9rem;
    }
  }
}


.three{
  @extend .buttons;
  font-size: 200%;
  background-color: green !important;
}

.contacts{
  background-color: white;
  list-style: none;
  // width: 200px;
  // position: absolute;
  li{
    header{
      padding: 20px;
      background-color: $brand-color;
      color: white;
    }
    p{
      text-align: center;
    }

  }
}

// img{
//   /* object-fit: contain; */
//   width: 100%;
//   height: auto;
//   /* display: block; */
//   padding-top: 10px;
//   padding-bottom: 10px;
//   border-radius: 10px/20px;
// }
