@box-shadow: {
  box-shadow: inset 1px 1px 20px 7px rgba(29, 29, 29, 0.178);
  // border: 1px solid black;
}

#ps {
  .font-info() {
    font-weight: 700;
  }
}

.box-me(@width: 1px, @color: black, @style: solid) {
  border: @arguments;
}

.multi(@x, @y) {
  @result: @x * @y;
}

.fore-color(){
  background-color: @maincolor;
}

.fore-color() when(lightness(@maincolor)>50%){
  color: white;
}

.mixin(@a) when (lightness(@a) >= 50%) {
  background-color: black;
}
.mixin(@a) when (lightness(@a) < 50%) {
  background-color: white;
}
.mixin(@a: white) {
  color: @a;
}