@multiplier: 2;
@import "colors";
@import "resets";
@import "extend";
@import url('https://fonts.googleapis.com/css?family=Montserrat');



@breakpoints: {
  desktop: 989px;
  tablet: 768px;
  phone: 480px;
}

.container {
  background-color: @quaternarycolor;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .box-me();
  
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    
  }
}

.contenter {
  width: 70%;
  background-color: @secondarycolor;
  .fore-color();
}

.third when (lightness(@maincolor)>50%) {
  width: 100%;
  width: .multi(33vw, 3vw)[@result]; //gives error but renders fine;
  height: 20vw;
  background-color: @tertiarycolor;
  // .container();
}

header {
  background-color: @maincolor;
  width: 100%;
  text-align: center;

  h1 {
    padding: 2vh;

    @media (max-width: @breakpoints[phone]) {
      color: aliceblue;
    }

    &:hover {
      color: blue;
    }
  }
}

p {
  color: @secondarycolor;
  margin: 20px 10px 20px 10px;
  @box-shadow();
}

@media only screen and(min-width: @breakpoints[phone]) {
  div .third{
    width: 100%;

    p {
      // background-color: beige;
      box-shadow:none !important;
      color: black;
      margin: 0;
    }

    p:hover {
      color: darken(@maincolor, 40%);
    }
  }
}