html,
body,
h1,
h2,
h3,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
.container {
  background-color: #419100;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
}
.container h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.contenter {
  width: 70%;
  background-color: beige;
  background-color: #e6af2e;
  color: white;
}
.third {
  width: 100%;
  width: 99vw;
  height: 20vw;
  background-color: #d36d0d;
}
header {
  background-color: #e6af2e;
  width: 100%;
  text-align: center;
}
header h1 {
  padding: 2vh;
}
@media (max-width: 480px) {
  header h1 {
    color: aliceblue;
  }
}
header h1:hover {
  color: blue;
}
p {
  color: beige;
  margin: 20px 10px 20px 10px;
  box-shadow: inset 1px 1px 20px 7px rgba(29, 29, 29, 0.178);
}
@media only screen and (min-width: 480px) {
  div .third {
    width: 100%;
  }
  div .third p {
    box-shadow: none !important;
    color: black;
    margin: 0;
  }
  div .third p:hover {
    color: #402f08;
  }
}
