/* hoe krijg ik dat deze flex items max 2 keer groeien en krimpen om altijd de rijgevuld te hebben */

.tiles{
  display: flex;
  flex-flow: row wrap;
}
.tile{
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: auto;
  width: 250px;
  max-width: 400px;
  height: 5vh;
}