<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Handlebars</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
  <script src="bower_components/handlebars/handlebars.min.js"
  <script src="handlebars.js"></script>
</head>
<body>
  <div id="app"></div>
  <script>
  
  var template= Handlebars.compile('<div>Hello {{name}} </div>')
var appEl = document.getElementById('app')
appEl.innerHTML = template({name:'Benjamin'})
</script>
</body>
</html>