<div class="mdl-card mdl-shadow--2dp dog-card" data-dog-id="{{id}}">
  <div class="mdl-card__title mdl-card--expand"
    style="background: url('images/{{image}}') center 15% no-repeat #46B6AC;">
    <h2 class="mdl-card__title-text">{{name}}</h2>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--raised dog-button {{isChosen 'dog'}}">
      {{language.yep}}
    </button>
    <button class="mdl-button mdl-button--raised not-dog-button {{isChosen 'not dog'}}">
      {{language.nope}}
    </button>
  </div>
  {{#if chosen}}
  {{#if isCorrect}}
  <span class="result-good">
    {{language.correctInd}}
  </span>
  {{else}}
  <span class="result-bad">
    {{language.incorrectInd}}
  </span>
  {{/if}}
  {{/if}}
</div>