@primarycolor: lightyellow;
@secondarycolor: rgb(255, 196, 0);
@ternarycolor: rgb(255, 94, 0);

@breakpoints: {
  desktop: 989px;
  tablet: 768px;
  phone: 480px;
};

header, footer{
  background-color: @secondarycolor;
  padding: 20px;
  /* text-align: center; */
}
div{
  background-color: @primarycolor;
}
img{
  /* object-fit: contain; */
  width: 100%;
  height: auto;
  /* display: block; */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px/20px;
}

// @media only screen and (min-width: @breakpoints[phone]) {
//   div {
//     background-color: @ternarycolor;
//   }
// }
