header,
footer {
  background-color: #ffc400;
  padding: 20px;
  /* text-align: center; */
}
div {
  background-color: lightyellow;
}
img {
  /* object-fit: contain; */
  width: 100%;
  height: auto;
  /* display: block; */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5px;
}
